#quote-box {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
}

#new-quote {
  padding: 10px;
  background-color: rgb(152, 226, 226);
  margin-right: 20px;
}

#tweet-quote {
  padding: 10px;
  text-decoration: none;
  background-color: rgb(152, 226, 226);
  margin: 0em;
  font: 400 13.3333px Arial;
  border-width: 2px;
  border-style: outset;
  border-color:  rgb(133, 133, 133);
  color: black;
}

